---
import FAQItem from './FAQItem.astro';

interface FAQ {
  question: string;
  answer: string;
}

interface Props {
  items: FAQ[];
}

const { items } = Astro.props;
---

<div class="dp">
  {items.map((item) => <FAQItem question={item.question} answer={item.answer} />)}
</div>

<script>
  document.querySelectorAll('.fq').forEach((question) => {
    question.addEventListener('click', () => question.parentElement?.classList.toggle('open'));
  });
</script>
