---
import { site } from '../data/site';
---

<footer class="sfooter">
  <div class="sfin">
    <div class="sf-grid">
      <div class="sf-col sf-col--id">
        <div class="sf-brand">{site.name}</div>
        <p class="sf-tagline">Médecine esthétique d'excellence à Casablanca</p>
        <p class="sf-sub">Médecine Esthétique&nbsp;•&nbsp;Anti-Âge&nbsp;•&nbsp;Lasers Médicaux</p>
      </div>
      <div class="sf-col">
        <h4 class="sf-title">Navigation</h4>
        <ul class="sf-links">
          <li><a href="/">Accueil</a></li>
          <li><a href="/soins/injections/botox">Soins</a></li>
          <li><a href="/besoins/rajeunir">Besoins</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/a-propos">À Propos</a></li>
          <li><a href="/partenaires">Partenaires</a></li>
          <li><a href="/avant-apres">Avant / Après</a></li>
          <li><a href="#prendre-rdv">Contact</a></li>
        </ul>
      </div>
      <div class="sf-col">
        <h4 class="sf-title">Nos Soins</h4>
        <ul class="sf-links">
          <li><a href="/soins/injections/botox">Injections</a></li>
          <li><a href="/soins/stimulation-collagene/sculptura">Stimulation collagène</a></li>
          <li><a href="/soins/soins-visage/hydrafacial">Soins du visage</a></li>
          <li><a href="/soins/soins-corps/lipolyse">Soins du corps</a></li>
          <li><a href="/soins/laser/laser-medical">Laser &amp; Détatouage</a></li>
        </ul>
      </div>
    </div>
    <div class="sf-bottom">
      <p>&copy; 2026 {site.name} · Tous droits réservés</p>
      <div class="sf-legal">
        <a href="/mentions-legales">Mentions légales</a>
        <a href="/politique-confidentialite">Politique de confidentialité</a>
      </div>
    </div>
  </div>
</footer>
