---
interface Props {
  title: string;
  description: string;
  partnerUrl?: string;
}

const { title, description, partnerUrl = '/partenaires' } = Astro.props;
---

<div class="produits">
  <h3>{title}</h3>
  <p><Fragment set:html={description} /> <a href={partnerUrl}>Voir nos partenaires</a></p>
</div>
